<div class="row">
	<div class="card col-4" style="width: 18rem;">
    <div class="card-body">
			<h2 class="card-title post_show__title"><%= @post_show__title %></h2>
			<h5 class="card-text">작성자 : <%= @post.user.username %></h5>
			<span class="card-text"><%= @post.created_at.strftime("%Y/%m/%d %H:%M") %></span>
			<p class="card-text">조회수 : <%= @post.view_count %></p>
      		<p class="card-text"><%= image_tag("#{@post.image}", class: "card-img-top") %></p>
			<p class="card-text">
				<% heart_state = @post.liked_users.include?(current_user) ? 'heart' : 'heart-empty' %>
				<%#= link_to '#', id: 'like-button', remote: true do %>
				<%#= link_to like_toggle_path(@post), method: :post, id: 'like-button' do %>
				<%= link_to like_toggle_path(@post), method: :post, id: 'like-button', remote: true do %>
					<%# if @post.liked_users.include?(current_user) %>
						<i class="icon ion-ios-<%= heart_state %>" id="heart"></i>
						<!-- <i class="icon ion-ios-heart"></i>
					<%# else %>
						<i class="icon ion-ios-heart-empty"></i> -->
					<%# end %>
				<% end %>
				<!-- path는 /뒤에 거, url은 도메인 전체임, 보통 path 사용, 객체 던져주면 알아서 아이디 날라감-->


				<%# if current_user.is_like? (@post) %>
					<%#= link_to "좋아요 취소", post_like_path(@post), method: "post", class: "btn btn-danger" %>
				<%# else %>
					<%#= link_to "좋아요", post_like_path(@post), method: "post", class: "btn btn-danger" %>
				<%# end %>

				<br>

				<span id="liked-users-count"><%= @post.liked_users.count %></span>명이 좋아합니다.
				<% @post.liked_users.each do |liked_user| %>
					<%= liked_user.username %>&nbsp;
				<% end %>
			</p>
			<h5 class="card-text"><%= simple_format @post.content %></h5>
      <% if @post.user == current_user %>
        <a href="/posts/<%= @post.id %>/edit" class="btn btn-primary">수정하기</a>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deleteModal">
          삭제하기
        </button>
      <% end %>
		</div>
	</div>
</div>

<br>

<div>
  <div id="comments" style="margin-bottom: 20px;">
		<div id="comment-list">
	    <% @comments.each do |comment| %>
	      <%= render comment %>
				<%#= render 'comments/comment', comment: comment %> <!-- comment에다가 comment변수 넣을 것임 -->
	      <%# if current_user == comment.user %>
	        <!-- <span class="text-right"><%#= link_to "삭제", post_comment_path(@post, comment), method: :delete %></span> -->
	      <%# end %>
	    <% end %>
	  </div>
  </div>

  <% if user_signed_in? %>
    <%= form_for(@comment, url: post_comments_path(@post), remote: true) do |f| %>
      <%= f.text_area :message, class: "form-control col-md-4", placeholder: "댓글을 입력해 주세요.." %><br>
      <%= f.submit "댓글 작성하기", class: "btn btn-primary", id: 'comment-create-button' %>
    <% end %>
  <% end %>
</div>


<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">정말 삭제하시겠습니까?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= Post.delete_message %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
				<%= link_to "삭제", post_path(@post), method: :delete, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>

<%= stylesheet_link_tag 'post_show' %>

<script type="text/javascript">
	// $('#like-button').click(function() {
	// 	Rails.ajax({
	// 		url: '<%= like_toggle_path(@post) %>',
	// 		type: "POST",
	// 		data: {},
	// 		success: function(response) {
	// 			console.log(response);
	// 			$('#heart').attr('class', `icon ion-ios-${response}`);
	// 		}
	// 	});
	// });
</script>
