<div class="row">
	<div class="card col-4" style="width: 18rem;">
    <div class="card-body">
			<h2 class="card-title"><%= @post.title %></h2>
			<h5 class="card-text">작성자 : <%= @post.user.username %></h5>
			
			<p class="card-text">조회수 : <%= @post.view_count %></p>
			<p class="card-text"><%= simple_format @post.content %></p>
      <% if @post.user == current_user %>
        <a href="/posts/<%= @post.id %>/edit" class="btn btn-primary">수정하기</a>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deleteModal">
          삭제하기
        </button>
      <% end %>
		</div>
	</div>
</div>

<br>

<div>
  <div id="comments" style="margin-bottom: 20px;">
    <% @comments.each do |comment| %>
      <%= render comment %>
      <% if current_user == comment.user %>
        <span class="text-right"><%= link_to "삭제", post_comment_path(@post, comment), method: :delete %></span>
      <% end %>
      <br>
    <% end %>
  </div>

  <% if user_signed_in? %>
    <%= form_for(Comment.new, url: post_comments_path(@post), remote: true) do |f| %>
      <%= f.text_area :message, class: "form-control col-md-4", placeholder: "댓글을 입력해 주세요.." %><br>
      <%= f.submit "댓글 작성하기", class: "btn btn-primary" %>
    <% end %>
  <% end %>
</div>


<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">정말 삭제하시겠습니까?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= Post.delete_message %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
				<%= link_to "삭제", post_path(@post), method: :delete, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>

